USE [master]
GO
/****** Object:  Database [2Hats]    Script Date: 11/06/2019 3:16:08 PM ******/
CREATE DATABASE [2Hats]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'2Hats', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\2Hats.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'2Hats_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\2Hats_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [2Hats].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [2Hats]
GO
/****** Object:  Table [dbo].[Directory]    Script Date: 11/06/2019 3:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[Level] [nvarchar](50) NULL,
	[Suite] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 11/06/2019 3:16:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Directory] [nvarchar](50) NULL,
	[Field] [nvarchar](50) NULL,
	[To] [nvarchar](50) NULL,
	[From] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Directory] ON 

INSERT [dbo].[Directory] ([ID], [CompanyName], [Level], [Suite]) VALUES (16, N'Google', N'23', N'44Da')
INSERT [dbo].[Directory] ([ID], [CompanyName], [Level], [Suite]) VALUES (17, N'SAMSUNG', N'445', N'77DD99D')
INSERT [dbo].[Directory] ([ID], [CompanyName], [Level], [Suite]) VALUES (18, N'Delaware', N'1', N'224')
SET IDENTITY_INSERT [dbo].[Directory] OFF
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([ID], [Directory], [Field], [To], [From], [Date]) VALUES (1, N'All', N'All', N'', N'', CAST(N'2019-06-11T14:53:07.013' AS DateTime))
INSERT [dbo].[Log] ([ID], [Directory], [Field], [To], [From], [Date]) VALUES (2, N'All', N'All', N'', N'', CAST(N'2019-06-11T14:53:17.833' AS DateTime))
INSERT [dbo].[Log] ([ID], [Directory], [Field], [To], [From], [Date]) VALUES (3, N'All', N'All', N'', N'', CAST(N'2019-06-11T15:03:48.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[Log] OFF
USE [master]
GO
